/*
* @Author: Admin
* @Date:   2017-12-26 09:46:23
* @Last Modified by:   Admin
* @Last Modified time: 2018-01-11 09:41:06
*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

@font-face {
  font-family: 'iconfont';  /* project id 524952 */
  src: url('https://at.alicdn.com/t/font_524952_udhrvkau5vwvcxr.eot');
  src: url('https://at.alicdn.com/t/font_524952_udhrvkau5vwvcxr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_524952_udhrvkau5vwvcxr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_524952_udhrvkau5vwvcxr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_524952_udhrvkau5vwvcxr.svg#iconfont') format('svg');
}
/* 头部  */
.header{
	width: 100%;
	height: 40px;
	background: #333333;
}
.main{
	width: 1226px;
	height: 100%;
	background: #333333;
	margin: 0 auto;
}
.main_left{
	width: 440px;
	height: 100%;
	background: #333333;
	float: left;
}
.main_left a{
	float: left;
	font-size: 12px;
	color: #b0b0b0;
	padding: 0 8px;
	border-right: 1px solid #424242;
	margin-top: 12px;
}
.main_left a:first-child{
	padding-left: 0;
}
.main_left a:last-child{
	padding-right: 0;
	border-right: none;
}
.main_left a:hover{
	color: #fff;
}
.main_right{
	width: 278px;
	height: 100%;
	/* background: red; */
	float: right;
}
.right_left{
	width: 158px;
	height: 100%;
	background: #333333;
	float: left;
}
.right_right{
	display: block;
	width: 120px;
	height: 100%;
	background: #424242;
	float: right;
}
.car{
	width: 20px;
	height: 14px;
	background: url('../img/images/shoppingcar_03.png') no-repeat center center;
	margin-top: 14px;
	margin-left: 17px;
	float: left;
}
.carwenzi{
	font-size: 12px;
	color: #b0b0b0;
	float: left;
	margin: 11px 0 0 4px;
}
.right_right:hover{
	background: #fff;
}
.right_right:hover .car{
	background: url('../img/images/yellowcar.png') no-repeat center center;
}
.right_right:hover .carwenzi{
	color: #f8a507;
}
.main_right .right_left a{
	display: block;
	margin-top: 9px;
	float: left;
	padding: 0 8px;
	border-right: 1px solid #424242;
	font-size: 12px;
	color: #b0b0b0;
}
.main_right .right_left a:first-child{
	padding-left: 0;
}
.main_right .right_left a:last-child{
	padding-right: 0;
	border-right: none;
}
.main_right a:hover{
	color: #fff;
}

/* 导航 */
.daohang{
	width: 1226px;
	height: 100px;
	background: #ffffff;
	margin: 0 auto;
}
.logo{
	width: 55px;
	height: 55px;
	/* background: blue; */
	float: left;
	margin-top: 22px;
}
.logo img{
	width: 55px;
	height: 55px;
	display: block;
}

.nav{
	width: 605px;
	height: 19px;
	background: #fff;
	float: left;
	margin-left: 189px;
	margin-top: 43px;
}
.nav a{
	font-size: 16px;
	float: left;
	margin-right: 20px;
	color: #333333;
}
.nav a:last-child{
	margin-right: 0;
}
.nav a:hover{
	color: #ff6700;
}
.search{
	width: 296px;
	height: 50px;
	background: #fff;
	float: right;
	margin-top: 25px;
}
.search_left{
	width: 243px;
	height: 48px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	float: left;
}
.search_right{
	width: 50px;
	height: 48px;
	float:right;
	border: 1px solid #e0e0e0;
	border-left: none;
	background: #fff;
}
.fdj{
    width: 17px;
    height: 18px;
	background: url('../img/images/fdj_03.png') no-repeat center center; 
	margin: 15px auto 0;
}
.search_right:hover{
	background: #ff6700;
}
.search_right:hover .fdj{
	background: url('../img/images/fdj2_03.png') no-repeat center center;
}

/* banner */
.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto 14px;
	position: relative;
}
.img_box{
    width: 100%;
    height: 100%;
}
.banner .img_box li{
	width: 100%;
	height: 100%;
	display: none;
}
.banner .img_box li a{
	display: block;
	width: 100%;
	height: 100%;
}
.img_box li.active{
	display: block;
}
.banner .aside_box{
	width: 234px;
	height: 440px;
	background: rgba(0, 0, 0, 0.6);
	padding-top: 20px;
	position: absolute;
	top: 0;
	left: 0;
}
.banner .aside_box li{
	width: 234px;
	height: 42px;
}
.banner .aside_box li:hover{
   background: #ff6700;
}
.banner .aside_box li a{
	display: block;
	width: 100%;
	height: 100%;
}
.aside_left{
	width: 116px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	float: left;
	margin-top: 15px;
	margin-left: 30px;
	color: #fff;
}
.aside_right{
	width: 7px;
	height: 12px;
	float: right;
	margin-top: 14px;
	margin-right: 24px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
}
.lunbodian{
	width: 90px;
	height: 10px;
	position: absolute;
	right: 35px;
	bottom: 25px;
}
.lunbodian li{
	width: 6px;
	height: 6px;
	background: rgba(0, 0, 0, 0.5);
	border: 2px solid #838282;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.lunbodian li:last-child{
	margin-right: 0;
	background: rgba(0, 0, 0, 0.7)
}
.banner_jiantou_left{
	width: 41px;
	height: 69px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 234px;
    font-size: 30px;
    text-align: center;
    line-height: 69px;
    color: #fff;
}
.banner_jiantou_right{
	width: 41px;
	height: 69px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    font-size: 30px;
    text-align: center;
    line-height: 69px;
    color: #fff;
}

/* 广告 */
.advertise{
	width: 1226px;
	height: 170px;
	background: #fff;
	margin: 0 auto;
}
.guanggao{
	width: 316px;
	height: 100%;
	background: #5f5750;
	float: left;
	margin-right: 15px;
}
.guanggao:first-child{
	width: 234px;
	margin-right: 14px;
}
.guanggao:last-child{
	margin-right: 0;
}
.guanggao li a img{
	display: block;
	width: 100%;
	height: 100%;
}
.guanggao li a img:hover{
	box-shadow: 1px 10px 30px 2px rgba(233, 233, 233, 1.0)
}
.guanggao1 li{
	width: 72px;
	height: 78px;
	background: #5f5750;
	margin-top: 7px;
	margin-left: 4px;
	float: left;
}
#li_1{
	margin-left: 8px;
	position: relative;
}
#li_2{
	position: relative;
}
#li_3{
	position: relative;
}
#li_4{
	margin-left: 8px;
	margin-top: 4px;
	position: relative;
}
#li_5{
	margin-top: 4px;
	position: relative;
}
#li_6{
	margin-top: 4px;
	position: relative;
}
.tiaotiao1{
	width: 70px;
	height: 1px;
	background: #665e57;
	position: absolute;
	bottom: 0;
	left: 1px;
}
.tiaotiao2{
	width: 1px;
	height: 70px;
	background: #665e57;
	position: absolute;
	bottom: 6px;
	right: 0;
}
.guanggao1 li a{
	display: block;
	width: 54px;
	height: 50px;
	background: #5f5750;
	margin-top: 9px;
	margin-left: 7px;
	
}
.icon_liebiao{
	width: 100%;
	height: 32px;
	background: #5f5750;
	position: relative;
}
.icon_liebiao .tticon{
	font-size: 26px;
	color: #cdcac8;
	position: absolute;
	top: 7px;
	left: 18px;
}
.icon_wenzi{
	width: 100%;
	height: 18px;
	background: #5f5750;
	font-size: 11px;
	color: #c8cac8;
	line-height: 18px;
	text-align: center;
}
.guanggao1 li a:hover .tticon{
    color: #fff;
}
.guanggao1 li a:hover .icon_wenzi{
	color: #fff;
}

/* 单品 */
.danpin{
	width: 1226px;
	height: 400px;
	/* background: red; */
	margin: 0 auto;
}
.danpin_top{
	width: 100%;
	height: 60px;
	background: #ffffff;
}
.wenzi{
	width: 133px;
	height: 100%;
	font-size: 21px;
	color: #333333;
	line-height: 60px;
	float: left;
}
.jiantou{
	width: 71px;
	height: 24px;
	float: right;
	/* background: black; */
    margin-top: 26px;
}
.jiantou_left{
	display: inline-block;
	width: 34px;
	height: 22px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	text-align: center;
	line-height: 22px;
	color: #e0e0e0;
}
.jiantou_right{
	width: 34px;
	height: 22px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	border-left: none;
	text-align: center;
	line-height: 22px;
	color: #b0b0b0;
	float: right;
}
.danpin_bottom{
	width: 100%;
	height: 340px;
	background: #ffffff;
}
.danpin_bottom .list:first-child{
	border-top: 1px solid #ffac13;
}
.danpin_bottom .list:nth-child(2){
	border-top: 1px solid #83c44e;
}
.danpin_bottom .list:nth-child(3){
	border-top: 1px solid #2196f3;
}
.danpin_bottom .list:nth-child(4){
	border-top: 1px solid #e53935;
}
.danpin_bottom .list:last-child{
	border-top: 1px solid #00c0a5;
    margin-right: 0;
}
.list{
	width: 234px;
	height: 339px;
	background: #fafafa;
    margin-right: 14px;
    float: left;
}
.list .list_img{
	display: block;
	margin: 41px auto 0;
	width: 138px;
	height: 155px;
	/* background: green; */
}
.list_wenzi{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 31px;
	color: #212121;
	font-size: 12px;
}
.list_text1{
	font-size: 11px;
	text-align: center;
	margin-top: 5px;
	color: #b0b0b0;
}
.list_text2{
	font-size: 12px;
	text-align: center;
	margin-top: 14px;
	color: #fe7d09;
}

/* 背景颜色 */
.backcolor{
	background: #f5f5f5;
	width: 100%;
	height: auto;
}


/* 家电 */
.jiadain{
	width: 1226px;
	height: 732px;
	margin: 40px auto 0;
}
.jiadian_top{
	width: 100%;
	height: 118px;
	background: #f5f5f5;
}
.top_left{
	width: 48px;
	height: 24px;
	font-size: 20px;
	color: #333333;
	float: left;
	margin-top: 78px;
	margin-left: 1px;
}
.top_right{
	width: 250px;
	height: 31px;
	background: #f5f5f5;
	float: right;
	margin-top: 81px;
	margin-right: 0;
}
.right_remen{
	width: 30px;
	height: 19px;
	font-size: 15px;
	float: left;
	margin-right: 32px;
	color: #424242;
}
a.active_{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.top_right .right_remen:nth-child(2){
	width: 62px;
    margin-right: 31px;
}
.top_right .right_remen:nth-child(3){
	margin-right: 31px;
}
.top_right .right_remen:last-child{
	margin-right: 0;
	float: right;
}
.jiadian_bottom{
	width: 100%;
	height: 614px;
	background: #f5f5f5;
}
.bottom_left{
	width: 234px;
	height: 614px;
	float: left
}
.bottom_left .left_img img{
	width: 100%;
	height: 100%;
	display: block;
} 
.bottom_left:hover{
	transform: translateY(-2px);
	box-shadow: 0px 5px 30px 3px rgba(233, 233, 233, 1.0)
}
.bottom_right{
	display: inline-block;
	width: 978px;
	height: 614px;
	background: #f5f5f5;
	float: right;
	display: none;
}
div.active_{
	display: block;
}
.right_list{
	width: 234px;
	height: 300px;
	background: #ffffff;
	margin-right: 14px;
	margin-bottom: 14px;
	float: left;
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}
.right_list:hover{
	transform: translateY(-2px);
	box-shadow: 0px 5px 30px 3px rgba(233, 233, 233, 1.0);
	transition: all 0.3s;
}
.right_list:hover .small_box{
	bottom: 0;
}
.small_box{
	display: block;
	width: 100%;
	height: 76px;
	background: #ff6700;
	position: absolute;
	bottom: -76px;
}
.small_box p:first-child{
	width: 168px;
	height: 37px;
	margin: 8px auto 0;
	font-size: 11px;
	line-height: 17px;
	color: #fff;
}
.small_box p:last-child{
	width: 168px;
	height: 25px;
	margin: 0 auto;
	font-size: 9px;
	line-height: 25px;
	color: #ffbf94;
}
.redbox{
	width: 64px;
	height: 20px;
	background: #e53935;
	margin: 0 auto;
	color: white;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
}
.top_img{
	width: 218px;
    height: 150px;
	display: block;
	margin:0 auto;
}
.top_img img{
	margin-top: 15px;
}
.bottom_right .right_list:nth-child(4) .top_img{
	margin-top:20px;
}

.greenbox{
	background: #83c44e;
}
.right_list .right_list_text1{
	display: block;
	margin-top: 33px;
	text-align: center;
	font-size: 12px;
	color: #333333;

}
.right_list .right_list_text2{
	display: block;
	margin-top: 8px;
	text-align: center;
	font-size: 11px;
	color: #b0b0b0;
}
.right_list_text3{
	width: 95px;
	height: 12px;
	margin:13px auto 0 ;
	background: #ffffff;
}
.right_list_text3 .left{
	width: 45px;
	height: 12px;
	font-size: 12px;
	color: #ff6700;
	float: left;
}
.right_list_text3 .right{
	width: 46px;
	height: 12px;
	font-size: 12px;
	color: #b0b0b0;
	float: right;
	margin-right: 0;
	text-decoration: line-through;
}
.bottom_right .right_list:nth-child(4){
	margin-right: 0;
}
.right_list:nth-child(8){
	width: 234px;
	height: 143px;
	background: #fff;
    margin-right: 0;
    margin-bottom: 0;
}
.right_list:last-child{
	width: 234px;
	height: 143px;
	background: #fff;
	margin-top: 14px;
	margin-right: 0;
	margin-bottom: 0；
}

.last_top_wenzi{
	display: inline-block;
	width: 71px;
	height: 38px;
	background: #fff;
	margin-top: 44px;
	margin-left: 22px;
}
.shexiangji{
	float: left;
	font-size: 12px;
	color: #333;
}
.price{
	float: left;
	margin-top: 10px;
	font-size: 11px;
	color: #ff6700;
}
.top_shexiangji img{
	float: right;
	display: block;
	margin-top: 46px;
	margin-right: 35px;
}
.list_last_bottom .last_top_wenzi .shexiangji{
	font-size: 17px;
}
.list_last_bottom .price{
	color: #757575;
}



/* 智能 */
.zhineng{
	width: 1226px;
	height: 694px;
	/* background: red; */
	margin:  0 auto;
}
.zhineng_top{
	width: 100%;
	height: 80px;
	background: #f5f5f5;
}
.zhineng_left{
	width: 48px;
	height: 24px;
	font-size: 20px;
	color: #333333;
	float: left;
	margin-top: 36px;
	margin-left: 1px;
}
.zhineng_right{
	width: 304px;
	height: 31px;
	background: #f5f5f5;
	float: right;
	margin-top: 39px;
	margin-right: 0;
}
.zhineng_right a{
	font-size: 16px;
	color: #424242;
	float: left;
	margin-right: 32px;
}
.zhineng_right a:first-child{
	color: #fb9300;
	border-bottom: 2px solid #fb9300;
}
.zhineng_right a:last-child{
	margin-right: 0;
}


.zhineng_bottom_left{
	width: 234px;
	height: 614px;
	display: inline-block;
}
.znleft_img{
	width: 234px;
	height: 300px;
	display: inline-block;
}
.znleft_img:hover{
	transition: all 0.3s;
	transform: translateY(-2px);
	box-shadow: 0px 5px 30px 3px rgba(233, 233, 233, 1.0)
}
.zhineng_bottom_left .znleft_img:first-child{
	margin-bottom: 14px;
}
#x9z{
	background: #e53935;
}
#zn{
	margin-top: 0;
}
#dp{
	margin-top: 0;
}
.yellowbox{
	background: #ffac13;
	color: white;
}


/* 搭配 */
.dapei_right{
	width: 301px;
	height: 26px;
	background: #f5f5f5;
	float: right;
	margin-top: 43px;
}
.dapei_right a{
	font-size: 16px;
	color: #424242;
	float: left;
	margin-right: 31px;
}
.dapei_right a:first-child{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.dapei_right a:last-child{
	margin-right: 0;
}
.dapei_img{
	margin-top: 20px;
}


/* 配件 */
.peijian_right{
	width: 269px;
	height: 24px;
	float: right;
	background: #f5f5f5;
	margin-top: 43px;
}
.peijian_right a{
	font-size: 16px;
	color: #424242;
	float: left;
	margin-right: 31px;
}
.peijian_right a:first-child{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.peijian_right a:last-child{
	margin-right: 0;
}
.juli{
	margin-top: 20px;
}

/* 周边 */
.zhoubian{
	width: 320px;
}

/* 为你推荐 */
.wntj{
	width: 1226px;
	height: 380px;
	/* background: red; */
	margin: 0 auto;
}
.wntj_top{
	width: 100%;
	height: 80px;
	background: #f5f5f5;
}
.wntj_top_wenzi{
	font-size: 21px;
	width: 88px;
	height: 23px;
	float: left;
	margin-top: 40px;
}
.wntj .wntj_top .jiantou{
    margin-top: 37px;
}
.wntj_bottom{
	width: 100%;
	height: 300px;
	background: #f5f5f5;
}
.wntj_bottom_list{
	width: 233px;
	height: 100%;
	background: #ffffff;
	margin-right: 14px;
	float: left;
}
.wntj_bottom_list:hover{
    transform: translateY(-2px);
	box-shadow: 0px 5px 30px 3px rgba(233, 233, 233, 1.0);
	transition: all 0.3s;
}
.wntj_bottom .wntj_bottom_list:last-child{
    margin-right: 0;
}
.wntj_img{
	width: 148px;
	height: 165px;
	/* background: black; */
	margin: 39px auto 0;
}
.wntj_img img{
	width: 100%;
	height: 100%;
	display: block;
}
.wntj_text{
	width: 148px;
	height: 81px;
	background: #fff;
	margin: 0 auto 0;
}
.wntj_text1{
	width: 44px;
	height: 12px;
	font-size: 12px;
    margin: 0 auto ;
    color: #333333;
}
.wntj_text2{
	width: 45px;
	height: 12px;
	font-size: 12px;
    margin:16px auto 0  ;
    color: #ff6700;
}
.wntj_text3{
	width: 77px;
	height: 12px;
	font-size: 12px;
    margin:19px auto 0;
    color: #757575;
}
/* 热评产品 */
.rpcp{
	width: 1226px;
	height: 495px;
	background: #f5f5f5;
	margin: 0 auto;
}
.rpcp_bottom_list{
	width: 296px;
	height: 415px;
	background: #ffffff;
	float: left;
	margin-right: 14px;
}
.rpcp_bottom_list:hover{
	transform: translateY(-2px);
	box-shadow: 0px 5px 30px 3px rgba(233, 233, 233, 1.0);
	transition: all 0.3s;
}
.rpcp_img{
	display: block;
	width: 296px;
	height: 220px;
	/* background: green; */
	margin: auto 0;
}
.rpcp_img img{
	width: 100%;
	height: 100%;
	display: block;
}
.wntj_bottom .rpcp_bottom_list:last-child{
	margin-right: 0;
}
.rpcp_text{
	width: 296px;
	height: 195px;
	background: #ffffff;
}
.rpcp_text1{
	width: 238px;
	height: 72px;
	padding: 28px 29px 0;
}
.rpcp_duanluo{
	font-size: 12px;
	line-height: 24px;
	color: #333333;
}
.rpcp_text2{
	width: 106px;
	height: 15px;
	background: #fff;
	margin-left: 29px;
	margin-top: 25px;
	font-size: 11px;
	color: #b0b0b0;
}
.text_box{
	width: 208px;
	height: 17px;
	background: #fff;
	margin: 16px 29px;
}
.rpcp_text3{
	display: block;
	width: 121px;
	height: 13px;
	background: #fff;
	margin-left: 2px;
	font-size: 12px;
	border-right: 1px solid #e0e0e0;
    color: #333333;
    float: left;
}
.rpcp_text4{
	width: 41px;
	height: 12px;
	color: #ff6700;
	float: left;
	font-size: 12px;
	margin-left: 10px;
}

/* 内容 */
.neirong{
	width: 1226px;
	height: 500px;
	/* background: red; */
	margin: 0 auto;
}
.neirong_top{
	width: 100%;
	height: 80px;
	background: #f5f5f5;
}
.neirong_top_wenzi{
	width: 49px;
	height: 25px;
	font-size: 21px;
	margin-left: 2px;
	margin-top: 40px;
	background: #f5f5f5;
	float: left;
	color: #333333;
}
.neirong_bottom{
	width: 1226px;
	height: 420px;
	background:  #f5f5f5;
}
.neirong_bottom_text{
    width: 296px;
    height: 419px;
    background: #fff;
    float: left;
    margin-right: 14px;
    border-top: 1px solid #ffac13;
}
.neirong_bottom_text:hover{
    transform: translateY(-2px);
	box-shadow: 0px 5px 30px 3px rgba(233, 233, 233, 1.0);
	transition: all 0.3s;
}
.neirong_bottom .neirong_bottom_text:nth-child(2){
	border-top: 1px solid #83c44e;
}
.neirong_bottom .neirong_bottom_text:nth-child(3){
	border-top: 1px solid #e53935;
}
.neirong_bottom .neirong_bottom_text:last-child{
	margin-right: 0;
	border-top: 1px solid #2196f3;
}
.neirong_text1{
	width: 100%;
	height: 15px;
	background: #fff;
	font-size: 15px;
	margin-top: 50px;
	color: #ffac13;
	text-align: center;
}
#miui{
	color: #83c44e;
}
#youxi{
	color: #e53935;
}
#yingyong{
	color: #2196f3;
}
/* .neirong_text2{
	display: block;
	width: 227px;
	height: 93px;
	background: #fff;
	margin:25px auto 0;
} */
.wenzi_1{
	display: block;
}
.hp{
	font-size: 20px;
	color: #333333;
	text-align: center;
	line-height: 26px;
	width: 100%;
	height: 26px;
    margin-top: 25px;
}
.hp-duanluo{
	width: 192px;
	font-size: 11px;
	text-align: center;
	margin: 11px auto 0;
	color: #b0b0b0
}
.hp_shuzi{
	width: 100%;
	height: 12px;
	font-size: 12px;
	color: #333;
	margin-top: 19px;
	text-align: center;
}
.hp_img{
	width: 160px;
    height: 160px;
    /* background: black; */
    margin: 19px auto 0;
}
.hp_img img{
	width: 100%;
	height: 100%;
	display: block;
}
.tupian{
	margin-top: 49px;
}
.yuandian{
	width: 78px;
	height: 10px;
	background: #fff;
	margin: 22px auto 0;
}
.yd{
	width: 6px;
	height: 6px;
	background: #b0b0b0;
	border-radius: 50%;
	border: 2px solid #fff;
	float: left;
	margin-right: 24px;
}
.yuandian .yd:last-child{
	margin-right: 0;
}
.yuandian .yd:first-child{
	background: #fff;
	border-color: #ff6700;
}
/* .yuandian2{
	width: 6px;
	height: 6px;
	background: #b0b0b0;
	border-radius: 50%;
	margin: 2px 0 0 26px;
	float: left;
} */

/* 视频 */
.shipin{
	width: 1226px;
	height: 365px;
	background: red;
	margin: 0 auto 0;
}
.shipin_top{
	width: 100%;
	height: 80px;
	background:#f5f5f5 ;
}
.shipin_top_left{
	width: 60px;
	height: 30px;
	background: #f5f5f5;
	font-size: 21px;
	color: #333333;
	float: left;
	margin-top: 40px;
}
.shipin_top_right{
	display: block;
	width: 92px;
	height: 20px;
	/* background: yellow; */
	float: right;
	margin-top: 41px;
}
.shiping_right_text{
	width: 72px;
	height: 100%;
	background: #f5f5f5;
	font-size: 16px;
	color: #424242;
	line-height: 20px;
	float: left;
}
.shiping_right_img{
	width: 20px;
	height: 100%;
	background: url('../img/images/ckgd_11.png') no-repeat center center;
    float: right;
}
.shipin_top_right:hover .shiping_right_text{
	color: #ff6b00;
}
.shipin_top_right:hover .shiping_right_img{
	background: url('../img/images/hdgd2_03.png') no-repeat center center;
}
.shipin_bottom{
	width: 100%;
	height: 285px;
	background: #f5f5f5;
}
.shipin_bottom_list{
	width: 296px;
	height: 285px;
	/* background: pink; */
	margin-right: 14px;
	float: left;
}
.shipin_bottom_list:hover{
	transform: translateY(-2px);
	box-shadow: 0px 5px 30px 3px rgba(233, 233, 233, 1.0);
	transition: all 0.3s;
}
.shipin_bottom .shipin_bottom_list:last-child{
    margin-right: 0;
}
.shipin_list_top{
	display: block;
	width: 100%;
	height: 180px;
	/* background: yellow; */
	position: relative;
}
.shipin_img{
	width: 100%;
	height: 100%
}
.shipin_img img{
	width: 100%;
	height: 100%;
}
.shipin_bofang{
	width: 36px;
	height: 24px;
	background: url('../img/images/shipin_bofang_07.png') no-repeat center center;
    position: absolute;
    left: 20px;
    bottom: 10px;
}
.shipin_list_top:hover .shipin_bofang{
	background: url('../img/images/shiping_bofang2_03.png');
}
.spc{
	background: url('../img/images/shiping_bofang4_03.png') no-repeat center center;
}
.shipin_list_top:hover .spc{
	background: url('../img/images/shiping_bofang3_03.png');
}
.shipin_list_bottom{
	width: 100%;
	height: 105px;
	background: #fff;
	overflow: hidden;
}
.shipin_text1{
	width: 100%;
	height: 12px;
	background: #fff;
	margin-top: 32px;
	font-size: 12px;
	color: #333;
	text-align: center;
	line-height: 12px;
}
.shipin_text1:hover{
	color: #ff6b00;
}
.shipin_text2{
	width: 100%;
	height: 11px;
	background: #fff;
	margin-top: 14px;
	font-size: 11px;
	color: #b0b0b0;
	text-align: center;
	line-height: 11px;
}

/* 站点地图 */
.sitemap{
	width: 100%;
	height: 272px;
	background: #fff;
	margin-top: 60px;
}
.map{
	width: 1226px;
	height: 100%;
	/* background: pink; */
	margin: 0 auto;
}
.map_top{
	width: 100%;
	height: 79px;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
}
.map_top_wenzi{
	width: 243px;
	height: 25px;
	background: #fff;
	margin-top: 30px;
	float: left;
	border-right: 1px solid #e0e0e0;
	position: relative;
}
.map_top_wenzi:hover .iconfont i{
	color: #ff6b00;
}
.map_top_wenzi:hover .map_wenzi{
	color: #ff6b00;
}
.map_top .map_top_wenzi:last-child{
	border-right: none;
}
.iconfont{
	font-family: 'iconfont';
	position: absolute;
	line-height: 14px;
	left: 58px;
}
i{
	font-style: normal;
	font-size: 25px;
	color: #7474a4;
}
.map_wenzi{
	font-size: 15px;
	position: absolute;
	left: 88px;
	color: #616161;
}
.map_bottom{
	width: 100%;
	height: 193px;
	background: #fff;
}
.map_bottom_left{
	width: 974px;
	height: 191px;
	float: left;
}
.map_bl{
	width: 56px;
	height: 100%;
	margin-right: 104px;
	float: left;
	overflow: hidden;
}
.map_bl li a{
	display: block;
	color: #757575;
}
.map_bl li a:hover{
	color: #ff6b00;
}
.map_bl li{
	
	font-size: 11px;
    margin-bottom: 16px;
}
.map_bl li:first-child{
	color: #424242;
	font-size: 14px;
	margin-top: 41px;
	margin-bottom: 30px;
}
.map_bottom_right{
	width: 251px;
	height: 111px;
	float: right;	
	border-left: 1px solid #e0e0e0;
	margin-top: 39px;
}
.map_br1{
	width: 100%;
	height: 16px;
	/* background: blue; */
	margin: 0 auto;
	text-align: center;
	line-height: 16px;
	font-size: 19px;
	color: #ff6700;
}
.map_br2{
	width: 142px;
	height: 36px;
	/* background: pink; */
	margin-left: 65px;
	margin-top: 7px;
}
.map_br2 p{
	text-align: center;
	line-height: 18px;
	font-size: 11px;
	color: #616161;
}
.map_bottom_right a{
	display: block;
}
.map_br3{
    width: 118px;
    height: 28px;
    background: #fff;
    margin-left: 66px;
    border: 1px solid #ff6700;
    margin-top: 16px;
    position: relative;
}
.map_br3:hover{
	background: #ff6700;
}
.map_br3:hover #xinxi{
	color: #fff;
}
.map_br3:hover li:last-child{
	color: #fff;
}
.iconfont1{
	font-family: 'iconfont';
	position: absolute;
	left: 8px;
	top: 5px;
}
#xinxi{
	font-size: 11px;
	color: #ff6700;
}
.map_br3 li:last-child{
	font-size: 11px;
	position: relative;
	left: 23px;
	top: 7px;
	color: #ff6700;
}

/* banben */
.banben{
	width: 100%;
	height: 166px;
	background:  #fafafa;
}
.bb{
	width: 1226px;
	height: 100%;
	background: #fafafa;
	margin: 0 auto;
	overflow: hidden;
}
.banben_top{
	width: 100%;
	height: 86px;
	background: #fafafa;
}
.banben_left{
	width: 660px;
	height: 57px;
	background: #fafafa;
	margin-top: 30px;
	float: left;
}
.banben_img{
	width: 56px;
	height: 57px;
	background: green;
	float: left;
}
.banben_img img{
	display: block;
	width: 100%;
	height: 100%;
}
.banben_lianjie{
	width: 573px;
	height: 17px;
	margin-left: 10px;
	float: left;
}
.banben_lianjie a{
	font-size: 11px;
	color: #757575;
	line-height: 17px;
	padding-right: 5px;
	border-right: 1px solid #b0b0b0;
	float: left;
}
.banben_lianjie a:hover{
	color: #ff6b00;
}
.banben_lianjie a:last-child{
	border-right: none;
}
.banben_lj{
	width: 593px;
	height: 19px;
	float: left;
	margin-left: 10px;
	font-size: 11px;
	color: #b0b0b0;
}
.banben_right{
	width: 437px;
	height: 42px;
	background: yellow;
	float: right;
	margin-top: 32px;
}
.banben_right a{
	display: block;
	float: left;
}
.banben_bottom{
	width: 1226px;
	height: 80px;
	background:#fafafa ;
	font-size: 18px;
	font-family: "楷体";
	color: #bebebe;
	float: left;
	line-height: 80px;
	text-align: center;
}
